<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"> <!-- bean definitions here -->


    <context:component-scan base-package="org.genspark"/>


    <bean id="GoodyBStudent" class="org.genspark.Student" init-method="init" destroy-method="destroy">
        <constructor-arg index="0" type="int" value="318"/>
        <constructor-arg index="1" type="String" value="Val D. Torian"/>
        <constructor-arg index="2" ref="FLNumber"/>
        <constructor-arg index="3" ref="FLAddress"/>
    </bean>

    <bean id="FLNumber" class = "org.genspark.Phone">
        <constructor-arg index="0" type="String" value="+1-234-567-8910"/>
    </bean>

    <bean id ="FLAddress" class="org.genspark.Address">
<!--        <qualifier value="GoodyBStudent"/>-->
        <constructor-arg index="0" type="String" value="Tampa"/>
        <constructor-arg index="1" type="String" value="FL"/>
        <constructor-arg index="2" type="String" value="USA"/>
        <constructor-arg index="3" type="String" value="123456"/>
    </bean>

</beans>